@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Megrim&family=Open+Sans:wght@300&display=swap');


:root {
    --blueblack: #1D1F2F;
    --darkblue: #214358;
    --lightgrey: #aaaaaa;
    --bluegreen: #3c6e71; 
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}



.background{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    opacity: 40%;
    background-image: url("indexbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}




/* Menu */
.menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: -5000px;
    z-index: 1;
    opacity: 99%;
    line-height: 90px;
    font-family: Roboto;
    font-size: 48px;
    transition: all .5s ease-in-out;
    background-color: white;
}
.menu.open{
    top: 0;
}
.menu ul{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu a:hover {
    opacity: 50%;
}











.main-container {
    position: relative;
    display: grid;
    grid-template-columns: .25fr 1fr .25fr;
    grid-template-rows: 1fr;
    grid-template-areas: "col1 col2 col3";
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: var(--blueblack);
}












/* COL1 */
.col1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-area: col1;
    height: 100%;
    width: 100%;
    /* background-color: orange; */
}

.logo {
    position: relative;
    height: auto;
    width: auto;
}
.logo h1 {
    font-size: 48px;
    font-family: Megrim;
    color: white;
}

/* .sociallinks {
    position: relative;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 100px;
    top: 50em;
}
.sociallinks i {
    cursor: pointer;
    font-size: 36px;
    color: white;
} */













/* COL2 */
.col2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: col2;
    height: 100%;
    width: 100%;
}

/* The container that holds cards */
.card-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}
/* card0 (the card behind card1), 2 states */
.card0 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 600px;
    cursor: pointer;
    border: 5px solid var(--lightgrey);
    transform: rotate(-10deg);
    transition: all .5s ease-in-out
}
.card0.open {
    background-color: var(--lightgrey);
    transform: translateX(-250px) rotate(-90deg);
}
/* Container that wraps the text within card0, 
2 states relative to the state of card0 */
.card0-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: rotate(-10deg);
    transition: all .5s ease-in-out;
}
.card0.open .card0-text {
    opacity: 1;
    height: auto;
    width: 400px;
    transform: rotate(90deg);
}
/* The actual text within card0-text, 
2 states relative to the state of card0 */
.card0 .card0-text h2 {
    font-family: Bitter;
    font-weight: 100;
    font-size: 32px;
    visibility: hidden;
}
.card0.open .card0-text h2{
    visibility: visible;
} 

/* card1, 2 states */
.card1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 600px;
    cursor: pointer;
    background-color: var(--lightgrey);
    transition: all .5s ease-in-out;
}
.card1.open {
    transform: translateX(250px) rotate(90deg);
}
/* Container that wraps the text within card1, 
2 states relative to the state of card1 */
.card1-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 400px;
    transition: all .5s ease-in-out;
}
.card1.open .card1-text {
    text-align: center;
    transform: rotate(-90deg);
}
.card1-text h1 {
    font-family: "Open Sans";
    font-size: 100px;
}
.card1.open .card1-text h1 {
    font-size: 60px;
}










/* COL3 */
.col3 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-area: col3;
    overflow: hidden;
    height: 100%;
    width: 100%;
    /* background-color: teal; */
}
.menu-btn {
    position: relative;
    order: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    height: 75px;
    width: 75px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-btn-burger {
    position: absolute;
    height: 6px;
    width: 60px;
    background-color: white;
    transition: all .5s ease-in-out;
}
.menu-btn.open .menu-btn-burger {
    background-color: black;
    box-shadow: none;
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn-burger::after{
    position: absolute;
    content: '';
    height: 6px;
    width: 60px;
    background-color: white;
    transform: translateY(16px);
    transition: all .5s ease-in-out;
}
.menu-btn.open .menu-btn-burger::after{
    background-color: black;
    box-shadow: none;
    transform: rotate(-90deg) translate(0px, 0px);
}
/* .col3-text {
    position: relative;
    order: 2;
    justify-content: center;
    align-items: center;
    width: 350px;
    font-family: Roboto;
    font-size: 28px;
    color: white;
    transform: rotate(90deg);
} */


/*-------------------------------Multimedia Versions------------------------------------*/


@media screen and (max-width: 1278px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr .4fr;
        grid-template-areas: "col2"
                             "col1";           
    }
    /* .sociallinks {
        flex-direction: row;
        margin-bottom: 0;
        min-width: 500px;
        top: 0;
    } */
    

}

@media  screen and (max-width: 999px) {
    /* COL2 */
    .card0 {
        height: 250px;
        width: 350px;
    }
    .card0.open {
        transform: translateY(125px);
    }
    .card0.open .card0-text {
        height: auto;
        width: 200px;
        transform: rotate(0deg);
    }
    .card0-text h2 {
        font-size: 22px;
    }
    .card0.open .card0-text h2{
        font-size: 18px;
    }
    .card1{
        height: 250px;
        width: 350px;
    }
    .card1.open {
        transform: translateY(-125px);
    }
    .card1-text {
        height: auto;
        width: 200px;
    }
    .card1.open .card1-text {
        transform: rotate(0deg);
    }
    .card1-text h1 {
        font-size: 60px;
    }
    .card1.open .card1-text h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 499px) {
    /* SCREEN0 */
    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "col2";
        height: 100vh;        
    }
   /*  .sociallinks {
        height: 0;
        width: 0;
        visibility: hidden;
    } */
    .card0 {
        transform: rotate(-2deg) translateY(-20px);
    }
    .card1 {
        transform: rotate(2deg);
    }
   
}


