@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Megrim&family=Open+Sans:wght@300&display=swap');
:root {
    --blueblack: #041019;
    --darkblue: #042335;
    --bluegreen: #335569;
    --bluegrey: #7f8ea0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}



.background{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-color: var(--blueblack);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container {
    position: relative;
    display: grid;
    grid-template-columns: .3fr 1fr .3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "col1 col2 col3";
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: var(--dark-blue);
}
.menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: -5000px;
    z-index: 2;
    opacity: 99%;
    line-height: 150px;
    font-family: 'Open Sans';
    font-size: 36px;
    transition: all .5s ease-in-out;
    background-color: var(--blueblack);
}
.menu.open{
    top: 0;
}
.menu ul{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu a:hover {
    color: white;
}




.col1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-area: col1;
    margin-top: 2em;
    height: 100%;
    width: 100%;
}
.logo {
    position: relative;
    height: auto;
    width: auto;
}
.logo h1 {
    font-size: 56px;
    font-family: Megrim;
    color: white;
}




.col2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: col2;
    height: 100%;
    width: 100%;
}
.menu-btn {
    position: relative;
    order: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    padding: 0;
    height: 75px;
    width: 75px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-btn-burger {
    position: absolute;
    height: 5px;
    width: 60px;
    background-color: white;
    transition: all .5s ease-in-out;
}
.menu-btn.open .menu-btn-burger {
    box-shadow: none;
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn-burger::after{
    position: absolute;
    content: '';
    height: 5px;
    width: 40px;
    background-color: white;
    transform: translate(20px,16px);
    transition: all .5s ease-in-out;
}
.menu-btn.open .menu-btn-burger::after{
    width: 60px;
    transform: rotate(-90deg) translate(0px, 0px);
}
.pdf {
    width: 60%;
    height: 80%;
}




.col3 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-area: col3;
    margin-top: 2em;
    height: 100%;
    width: 100%;
}




/*-------------------------------Multimedia Versions------------------------------------*/




@media screen and (max-width:1760px) {
    .main-container{
        grid-template-columns: 1fr;
        grid-template-rows: .1fr .075fr 1fr;
        grid-template-areas: "col1"
                             "col3"
                             "col2";
    }
    .logo h1 {
        font-size: 62px;
    }
    .col3 {
        margin: 0;
    }
    .menu-btn-burger::after {
        width: 60px;
        transform: translate(0px, 16px);
    }
}

@media screen and (max-width: 450px) {
    .main-container{
        grid-template-rows: .125fr .15fr 1fr;
    }
    .logo h1 {
        font-size: 48px;
    }
   
}