@import url('https://fonts.googleapis.com/css2?family=Damion&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&display=swap');

:root {
    --dark-blue: #222;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}


/* SCREEN0 */
.screen0-container {
    position: relative;
    display: grid;
    grid-template-columns: .4fr 3fr .4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "leftside-container center-container rightside-container";
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: var(--dark-blue);
}

/* Left */
.screen0-leftside-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: leftside-container;
    height: 100%;
    width: 100%;
    /* background-color: orange; */
}
.screen0-sociallinks {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 100px;
    top: 50em;
}
.screen0-sociallinks i {
    cursor: pointer;
    font-size: 36px;
    color: white;
}
.screen0-stripe {
    position: absolute;
    height: 600px;
    width: 3px;
    top: 70em;
    background-color: white;
}

/* Center */
/* Menu */
.menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    height: 100%;
    top: -5000px;
    z-index: 1;
    opacity: 99%;
    line-height: 90px;
    font-family: Roboto;
    font-size: 48px;
    background-color: white;
    transition: all .5s ease-in-out;
}
.menu.open{
    top: 0;
}
.menu ul{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu a:hover {
    opacity: 50%;
}
/* Container that wraps the nav and intro card-container */
.screen0-center-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: center-container;
    height: 100%;
    width: 100%;
}
/* Nav */
.nav-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: nav-container;
    padding: 2em;
    height: auto;
    width: 90%;
    top: -3em;
    /* background-color: red; */
}
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    z-index: 1;
    height: 75px;
    width: 75px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-btn-burger {
    position: absolute;
    height: 6px;
    width: 60px;
    top: 28px;
    background-color: white;
    transition: all .5s ease-in-out;
}
.menu-btn.open .menu-btn-burger {
    background-color: black;
    box-shadow: none;
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn-burger::after{
    position: absolute;
    content: '';
    height: 6px;
    width: 60px;
    background-color: white;
    transform: translateY(16px);
    transition: all .5s ease-in-out;
}
.menu-btn.open .menu-btn-burger::after{
    background-color: black;
    box-shadow: none;
    transform: rotate(-90deg) translate(0px, 0px);
}
.nav-logo-outercontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    z-index: 0;
    height: 85px;
    width: 250px;
    background-color: white;
    cursor: pointer;
}
.nav-logo-innercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 240px;
    background-color: white;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px 1px inset;
}
.nav-logo-innercontainer h1 {
    font-size: 48px;
    font-family: Damion;
    color: black;
}
.pdf {
    width: 900px;
    height: 1000px;
}




/*-------------------------------Multimedia Versions------------------------------------*/




@media screen and (max-width: 1278px) {
    /* SCREEN0 */
    .screen0-container {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr .4fr;
        grid-template-areas: "center-container"
                             "leftside-container";           
    }
    .screen0-sociallinks {
        flex-direction: row;
        margin-bottom: 0;
        min-width: 500px;
        top: 0;
        margin-bottom: 2em;
    }
  
    /* Center */
    .nav-container {
        flex-direction: column;
        margin-bottom: 5em;
        top: -19em;
    }
    .menu-btn {
        margin-top: 2em;
        right: 0;
    }
    .screen0-leftside-container{
        margin-bottom: 15em;
    }
   
}

@media screen and (max-width: 499px) {
    /* SCREEN0 */
    .screen0-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "center-container";
        height: 100vh;        
    }
    /* left */
    .screen0-sociallinks {
        height: 0;
        width: 0;
        visibility: hidden;
    }
    /* Center */
    .nav-container {
        top: -8em;
        margin-bottom: 8em;
    }
    .menu-btn {
        margin: 0;
    }
}


